.row-datos {
  background-color: #677b99;
  /*height: 75px;*/
}

tbody.tr.border {
  border-left: 1px solid;
}

.table-borderless tbody + tbody, .table-borderless td, .table-borderless td, .table-borderless thead td {
  border-right: 1px solid;
  margin-top: 10px;
}

tr {
  font-size: 0.8rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*height: 60px;*/
  /*line-height: 60px;*/
  /*background-color: #f5f5f5;*/
}

.table td, .table th {
  padding: 3px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

img.two {
  height: 60%;
  width: 60%;
}

.contentPDF{
    width:120%;
    height: 500px;
    position:relative;
    left: -10%;
}

.objPDF{
    width: 100%;
    height: 100%;
}


.CenterSpanCheck {
    width: 90%;
    position: absolute;
    left: 50%;
    top: 37%;
    transform: translate(-50%, -50%);
}

.CenterSpan {
    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.contImgBack {
    width: 100%;
    height: 75px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-top: 3px;
    background-size: contain;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
}

.banner-Img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -2;
}

.banner-bg-alpha {
    position: absolute;
    background-color: rgba(32, 32, 32, 0.35);
    width: 100%;
    height: 80%;
    top: 10%;
    z-index: -1;
}


.circulovacio {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #acacac;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%)
}

.circuloseleccionado {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #acacac;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%)
}

.circuloblanco {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%)
}

.separadorsup {
    height: 32%;
    border-left: solid 2px #acacac;
    position: absolute;
    top: 0px;
    left: 49%;
}

.separadorinf {
    height: 32%;
    border-left: solid 2px #acacac;
    position: absolute;
    bottom: 0px;
    left: 49%;
}


.imgSearch {
    color: #989898;
    font-size: 1.6rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: -60px;
    transform: translate(-50%, -50%);
}


.imgRefresh {
    color: #989898;
    font-size: 1.7rem;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    /*left: 50%;*/
    right: -32px;
    top: 50%;
    transform: translate(-50%, -50%);
}


.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    height: 55px;
    padding-top: 8px;
    background-color: #fefefe;
    margin: 200px auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}